@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
  }

  h1 {
    @apply text-3xl font-bold mt-6 mb-12;
  }

  h2 {
    @apply text-lg font-semibold mt-5 mb-3;
  }

  h3 {
    @apply text-base font-medium mt-4 mb-2;
  }

  p, ul, li, table {
    @apply mb-2 text-base leading-tight;
  }

  ul {
    @apply list-disc pl-6;
  }

  a {
    color: #0000EE;
    text-decoration: none;
  }

  a:visited {
    color: #551A8B;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: #FF0000;
    text-decoration: underline;
  }

  .content-wrapper {
    @apply max-w-screen-lg mx-auto p-6;
  }
}